body {
    width: 90%;
    margin: 5% 5% 0% 5%;
    background: linear-gradient(-10deg, rgb(239, 249, 243), rgb(0, 7, 20));
    /*
    background-image: url(img/abstract-uv-ultraviolet-light-composition_23-2149243965.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    */
}

a {
    color: #000714;
    text-shadow: 1px 1px 5px #BFBFBF;
    text-decoration: none;
}

a:hover {
    color: lightsalmon;
}

a:visited {
    color: #8B9598;
    text-shadow: 1px 1px 5px #000714;
    text-decoration: none;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.05em;
    font-size: 14px;
    color: #000714;
}

blockquote {
    max-width: 50%;
    margin: 0% 25% 0% 25%;
}

q {
    font-size: 160%;
    background-color: rgba(250, 250, 250, 0.959);
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: justify;
}

.villagerQuote {
    border-left: 3px solid #000714;
}

.farmerQuote {
    border-left: 3px solid #BFBFBF;
}

header {}